<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <h3 th:if="${currentUser != null && currentUser.name != null}"  th:text="Welcome + ' ' + ${currentUser.name}"></h3><br>
    <a href="/logout" th:if="${currentUser != null && currentUser.name != null}" th:text="Logout"></a><br>
    <a href="/loginPage" th:if="${currentUser == null || currentUser.name == null }" th:text="Login"></a><br>
    <a href="/">Home</a>
</div>
<div th:fragment="lang">
    <a href="?lang=en">ENG</a><br>
    <a href="?lang=hy">ARM</a><br>
    <a href="?lang=ru">RUS</a>
</div>
</body>
</html>