<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Company</title>
</head>
<body>

<h1>Add Company</h1>

<form th:action="@{/addCompany}" method="post" th:object="${company}">
    <label>Company Name:</label>
    <input type="text" th:field="*{name}" /><br/>

    <label>Company Size:</label>
    <input type="text" th:field="*{size}" /><br/>

    <label>Company Address:</label>
    <input type="text" th:field="*{address}" /><br/>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>

</body>
</html>