<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
</head>
<body>
<div>
    <a href="/admin/addCompany">
        <button>Add Company</button>
    </a><br>
    <h1>All Companies</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Address</th>
        </tr>
        <tr th:each="company : ${companies}" id="main">
            <td><a th:href="@{/singleCompanyPage(id=${company.id})}" href="#"><span th:text="${company.name}"></span></a></td>
            <td th:text="${company.size}"></td>
            <td th:text="${company.address}"></td>
            <td><a th:href="@{/deleteCompany(id=${company.id})}" href="#">Delete</a></td>
        </tr>
    </table>
</div>
<br>
<br>
<div>
    <a href="/admin/addEmployee">
        <button>Add Employee</button>
    </a><br>
    <h1>All Employees</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th>Position</th>
            <th>Company Name</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td><a th:href="@{/singleEmployeePage(id=${employee.id})}" href="#" ><span th:text="${employee.name}"></span></a></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.salary}"></td>
            <td><span th:if="${employee.position != null}" th:text="${employee.position.name()}">No Position Yet</span>
            </td>
            <td th:text="${employee.company.name}"></td>
            <td><a th:href="@{/deleteEmployee(id=${employee.id})}" href="#">Delete</a></td>
        </tr>
    </table>
</div>
<br>
<br>

<a href="/">Home Page</a><br>
<a href="/employees">Employees</a><br>
<a href="/companies">Companies</a><br>
</body>
</html>