<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body>
<div th:include="fragments/header::header"></div>
<div>

    <h1>All Companies</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Address</th>
        </tr>
        <tr  th:each="company : ${companies}" id="main">
            <td id="name" data-value th:text="${company.name}"></td>
            <td id="size" th:text="${company.size}"></td>
            <td id="address" th:text="${company.address}"></td>
        </tr>
    </table>

</div>
<a href="/"><h3>Back</h3></a><br>
<a href="/employees"><h3>Employees</h3></a>

</body>
</html>