<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<div th:include="fragments/header::header"></div>

<div>
    <h1>All Employees</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Salary</th>
            <th>Position</th>
            <th>Company Name</th>

        </tr>
        <tr  th:each="employee : ${employees}">
<!--            <td><a th:href="@{/singleEmployeePage(id=${employee.id})}" href="#" ><span th:text="${employee.name}"></span></a></td>-->
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.salary}"></td>
            <td><span  th:if="${employee.position != null}" th:text="${employee.position.name()}">No Position Yet</span></td>
            <td  th:text="${employee.company?.name}"></td>
        </tr>
    </table>

</div>

<a href="/"><h3>Back</h3></a><br>
<a href="/companies"><h3>Companies</h3></a>

</body>
</html>