<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Employee</title>
    <link rel="stylesheet" th:href="@{/static/css/indexPage.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h3 th:if="${currentUser != null && currentUser.name != null}"
    th:text="#{index.welcome} + ' ' + ${currentUser.name}"></h3><br>
<a href="/logout" th:if="${currentUser != null && currentUser.name != null}" th:text="#{index.logout}"></a><br>
<a href="/loggedEmployee" th:if="${currentUser != null && currentUser.name != null}"
   th:text="#{index.homePage}"></a><br>
<a href="/loginPage" th:if="${currentUser == null || currentUser.name == null }" th:text="#{index.login}"></a><br>
<span th:if="${currentUser != null && currentUser.name != null}">
<a href="/admin" sec:authorize="hasAuthority('ADMINISTRATOR')" th:text="#{index.admin}"></a><br>
</span>
<div th:include="fragments/header::lang" style=" position: absolute;left: 90%;width: 200px;height: 120px;"></div>
<div class="buttons">
    <h1 style="color: #4a77d4">Company Employee</h1>


    <button style="--content: 'Companies';">
        <div class="left"></div>
        <a href="/companies" th:text="#{index.companies}"></a>
        <div class="right"></div>
    </button>


    <button style="--content: 'Employees';">
        <div class="left"></div>
        <a href="/employees" th:text="#{index.employees}"></a>
        <div class="right"></div>
    </button>

</div>

</body>
</html>