<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Employee</title>
    <link th:href="@{/static/css/index.css}" href="../static/css/index.css" type="text/css" rel="stylesheet" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h3 th:if="${currentUser != null && currentUser.name != null}" th:text="Welcome + ' ' + ${currentUser.name}"></h3><br>
<a href="/logout" th:if="${currentUser != null }" th:text="Logout"></a><br>
<a href="/admin/loginPage" th:if="${currentUser == null }" th:text="Login"></a><br>

<!--<h3 th:if="${role != null }" th:text="You Are  + ' ' + ${role} + ' ' + your privilegies ... "></h3><br>-->

<div class="buttons">
    <h1>Company Employee</h1>
    

    <button style="--content: 'Companies';">
        <div class="left"></div>
        <a href="/companies">Companies</a>
        <div class="right"></div>
    </button>


        <button style="--content: 'Employees';">
            <div class="left"></div>
            <a href="/employees"> Employees</a>
            <div class="right"></div>
        </button>

</div>

</body>
</html>