<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div>
    <a href="/loggedEmployee">Back Page</a><br>
    <a href="/logout">Logout</a>
    <h1 th:text="${'Start messaging with ' + ' ' + toEmployee.name + ' ' + toEmployee.surname}"></h1>
    <div style="border: #141218; width: 50%">
        <ul th:each="message : ${send}" style="list-style-type: none">
            <li th:style="${currentUser.id != message.from.id ? 'text-align: right' : 'text-align: left'}">
                <div>
                    <span th:text="${message.getTimestamp()}"></span><br>
                    <span th:text="${message.getSms()}" style="color: blue"></span>
                </div>
            </li>
        </ul>
    </div>

    <form action="/send" method="post" th:object="${emptyMessage}">
        <label>
            <input type="text" th:field="*{sms}">
        </label>
        <input type="hidden" name="toId" th:value="${toEmployee.getId()}">
        <input type="submit" th:value="Send">
    </form>
</div>
</body>
</html>