<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div>

    <!--    <div>-->
    <!--        <h2>Chat</h2>-->
    <!--        <div th:each="message : ${send}"></div>-->
    <!--        <ul>-->
    <!--            <li>-->
    <!--                <div>-->
    <!--                    <span th:text="${message.getTimestamp()}"></span>-->
    <!--                    <span th:text="${currentUser.name}"></span>-->
    <!--                </div>-->
    <!--                <div>-->
    <!--                  <span></span>-->
    <!--                </div>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </div>-->

    <form action="/send" method="post" th:object="${emptyMessage}">
        <label>
            <input type="text" th:field="*{sms}">
        </label>
        <input type="hidden" name="toId" th:value="${toEmployee.getId()}">
        <input type="submit" th:value="Send">
    </form>

</div>
</body>
</html>